.createOffer-container {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.createOffer-container {
  text-align: center;
}

.crear-oferta-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-bold);
}

.h3-oferta {
  color: #61d61d;
}

#oferta-h3-general {
  font-weight: 800;
  font-size: bold;
  letter-spacing: 1px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textarea {
  text-align: center;
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 25px;
  margin-bottom: 0.5rem;
  margin-top: 15px;
}

.form-field-two {
  margin-bottom: 30px;
  margin-top: 30px;
}

.textarea-description {
  height: 150px;
  width: 40vw;
}

.tecnologies-Offer {
  margin-top: 5px;

  /* padding-left: 30px; */
  overflow: auto;
  height: 200px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.input-create-offer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 12px;
  margin-top: 7px;
  border: 2px solid #cecfd0;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0 auto;
  outline: none;
}

#createOffer-select {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
}

/* .createOffer-select {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
} */

.error-message {
  color: red;
}

.btn-submit-create-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  background-color: #25d366;
  color: white;
  margin-bottom: 1rem;
}

#btn-offer {
  margin-top: 10px;
}

.form-field-four {
  margin-top: 15px;
}
