.home-container {
  width: 80%;
  min-height: 100%;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.home-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-presentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-p {
  color: rgb(130, 130, 130);
}

.home-title {
  font-size: 30px;
  font-family: var(--font-bold);
}

.home-img {
  height: 300px;
  object-fit: cover;
}

.home-subButton {
  display: flex;
  gap: 30px;
}

.home-contactUs {
  border: none;
  border-radius: 30px;
  height: 39px;
  width: 145px;
  background-color: #25d366;
  color: white;
}

.home-learnMore {
  border-color: #25d366;
  border-radius: 30px;
  height: 39px;
  width: 145px;
  background-color: transparent;
  color: #25d366;
}

.home-contactUs:hover,
.home-learnMore:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.home-company-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-p-company {
  color: rgb(150, 150, 150);
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

.home-company-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.home-company-list > li > img {
  width: 120px;
}

.home-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.home-works-title {
  font-weight: bolder;
  font-size: 22px;
  border-bottom: 1px solid #25d366;
  font-family: var(--font-bold);
}

.home-works-p {
  color: rgb(130, 130, 130);
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.home-works-section {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.home-figure {
  width: 230px;
  height: 210px;
  background-color: #fdfcfe;
}

.home-figur:hover {
  background-color: transparent;
  cursor: pointer;
}

.home-figure-img {
  height: 60px;
}

.home-figure:hover {
  background-color: white;
}

.home-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home-figure-p {
  color: #25d366;
  font-size: 12px;
}

.home-review-container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-review-title {
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #25d366;
  font-family: var(--font-bold);
}

.home-review-section {
  width: 90%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.home-review-figure {
  width: 520px;
  min-height: 220px;
  border: 0.1px solid rgb(200, 200, 200);
  background-color: #fdfcfe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-review-developer {
  display: flex;
  gap: 15px;
}

.home-person-review {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.home-review-figure-p {
  font-size: 13px;
  font-style: italic;
  color: rgb(110, 110, 110);
}

.home-nameJob-person {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-person {
  font-size: 13px;
  color: black;
}

.home-job {
  font-size: 11px;
  color: rgb(110, 110, 110);
}

@media screen and (max-width: 930px) {
  .home-title {
    font-size: 22px;
  }
  .home-img {
    height: 210px;
    object-fit: cover;
  }
  .home-p {
    font-size: 12px;
  }
  .home-description {
    display: flex;
    flex-direction: row;
  }
  .home-contactUs,
  .home-learnMore {
    height: 38px;
    width: 119px;
  }
}
@media screen and (max-width: 600px) {
  .home-description {
    display: flex;
    flex-direction: column;
  }
  .home-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-title,
  .home-p {
    text-align: center;
  }
  .home-br {
    display: none;
  }
  .home-p-company {
    font-size: 22px;
  }
}
