.crear-oferta-titulo {
  margin: 0 0 25px 0;
}

.form-container-titulo-tipo-oferta-tecnologias-Uploadfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #cecfd0;
  padding: 0 20px;
  border-radius: 12px;
}

.form-container-años-salario-ciudad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container-titulo-tipo-oferta-tecnologias-Uploadfile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.input-select {
  border-radius: 12px;
}

.form-container-titulo-descripción-responsabilidades-requisitos-remuneracion {
  display: flex;
  justify-content: center;
  border: 1px solid #cecfd0;
  gap: 12px;
  margin-top: 25px;
  padding: 0 0 12px 0;
  border-radius: 12px;
}

.form-container-descripcion-ganeral-responsabilidades {
  width: 50%;
}

.form-container-descripcion-requisitos-remuneracion {
  width: 50%;
}

.createOffer-container {
  text-align: center;
}

.crear-oferta-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-bold);
}

.h3-oferta {
  color: #61d61d;
}

#oferta-h3-general {
  font-weight: 800;
  font-size: bold;
  letter-spacing: 1px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textarea {
  text-align: center;
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 25px;
  margin-bottom: 0.5rem;
  margin-top: 15px;
}

.form-field-two {
  margin-bottom: 30px;
  margin-top: 30px;
}

#createOffer-select {
  margin-top: 20px;
  width: 350px;
  height: 44px;
  text-align: center;
  border: 2px solid #cecfd0;
  color: #818181;
}

.textarea-description {
  height: 150px;
  width: 40vw;
}

.tecnologies-Offer {
  margin-top: 5px;
  overflow: auto;
  height: 180px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.input-create-offer-años-salario-ciudad {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 2px solid #cecfd0;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
  text-align: center;
}

.input-create-offer-dos {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  padding: 12px;
  margin-top: 7px;
  border: 2px solid #cecfd0;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0 auto;
  outline: none;
}

.error-message {
  color: red;
}

.btn-submit-create-offer_dos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  background-color: #25d366;
  color: white;
  margin-bottom: 1rem;
  margin-top: 25px;
}

#btn-offer {
  margin-top: 10px;
}

.form-field-four {
  margin-top: 15px;
}
